RewriteEngine On
RewriteRule ^accueil$ index.php [L]
RewriteRule ^recherche$ recherche.php [L]
RewriteRule ^modeles$ tous_les_modeles.php [L]
RewriteRule ^ajouter$ formulaire.php [L]
RewriteRule ^modifier/([0-9]+)$ formulaire.php?modele=$1 [L]
RewriteRule ^marque/([0-9]+)$ marque.php?marque=$1 [L]
RewriteRule ^detail/([0-9]+)$ modele.php?modele=$1 [L]

ErrorDocument 404 /index.php